.App ,body{
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}
.App-main{
  margin-top: 5%;
  display: grid;
  grid-template-columns:1fr 1fr;
  margin: 0px 5%;
  gap: 3em;
}
h3{
  cursor: pointer;
  
}
h3:hover{
    color: #61dafb;
    text-decoration: none;
  
}
.orange{
  color:orange;
}
.primary{
  color:#61dafb
}
/* .primary:hover{
  color:orange
} */
.starsLayout{
  display:none
}
.rate-container{
margin-top:2em;
border-top:1px solid white;
border-width: 3px;
}
.rate-star{
  margin-top: 5px;
}
.rate-star .fa-star{
  font-size:1.5rem;
  cursor:pointer;
}