@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Montserrat&family=Sofia&display=swap");

.App ,body{
  background-color: #282c34;
  color: white;
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: "Poppins" ;
}

.App-layout{
  min-height:100vh;

}
header{
  margin-bottom:1em;
  box-shadow:1px 3px 2px rgba(128, 128, 128, 0.329);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  gap: 6em;
}
.fa-photo-film{
  color:#61dafb
}
.brand{
  font-size: 1.5em;
  font-weight: bolder;
}

.App-link {
  color: #61dafb;
}
.App-main{
  margin: 5%;
  display: grid;
  grid-template-columns:1fr 1fr;
  margin: 0px 5%;
  gap: 3em;
}
.pointers{
  cursor: pointer;
  font-weight: 600;
  margin:12px;
  
}
.movie-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.pointers:hover , .Logout:hover{
    color: #61dafb;
    text-decoration: none;
}
.movie-flex{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: end;
  border-left: 1px solid orange;
  
  margin: 5px 0px;
}

.movie-flex:hover{
  border-left: 1px solid rgb(170, 20, 20);
  border-bottom: 1px solid #61dafb;
}
.wrapper{
  height:200px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: scroll;
  /* border-bottom: 1px solid #61dafb; */
}
::-webkit-scrollbar{
  width:0;
  background: transparent;
}
.orange{
  color:orange;
}
.primary{
  color:#61dafb
}

.main-section2{
  display:none;
}
.rate-container{
margin-top:2em;
border-top:1px solid white;
border-width: 3px;
}
.rate-star, .rate-text{
  margin-top: 8px;
}
.rate-star .fa-star{
  font-size:1.5rem;
  cursor:pointer;
}
#title{
  width:40%;
  height:25px;
  outline-color: #61dafb;
  border-radius:5px;
  padding:1.1em; 
  
}
#descriptions{
  width:40%;
  height:50px;
  outline-color: #61dafb;
  border-radius:5px;
  padding:1.1em; 
  
}
.errMessage{
  color: orange;
  padding-bottom: 5px;

}


.edit-container svg{
  padding:0px 9px;
  cursor:pointer;
}
.fa-pen-to-square{
  color:orange;
}
.fa-trash{
  color:rgb(170, 20, 20);
}
.fa-pen-to-square:hover, .fa-pen-to-square:active{
  color:#61dafb;
}
.fa-trash:hover , .fa-trash:active{
  color:#61dafb
}

/* auth login form  */
.auth-form{
  margin-top:5em;
  display:flex;
  place-items:center;
  flex-direction:column;
}
#username{
  width:25em;
  height:25px;
  outline-color: #61dafb;
  border-radius:5px;
  padding:1.1em;
  
}
#password{
  width:25em;
  height:25px;
  outline-color: #61dafb;
  border-radius:5px;
  padding:1.1em;  
}

input[type="button"]{
  padding:0.5em;

}
input[type="submit"]{
  padding:0.8em;
  width:100px;
  border-radius:5px;
  border: none;
  font-weight:bolder;
  background-color: #61dafb;
  cursor: pointer;

}
input[type="submit"]:hover{
  background-color:orange;
}
input[type="submit"]:disabled{
  color:white;
  background-color: gray;
  cursor:not-allowed;
  
  }
.footer{
  bottom: 0px;
  text-align: center;
  color: darkcyan;
}
@media  screen and (max-width:750px) {
  .App-main{
    margin-top: 5%;
    display: grid;
    grid-template-columns:1fr;
    margin: 0px 5%;
    gap: 1em;
  }
  .wrapper{
    overflow-y: scroll;
    height:70%;
  }
  header{
    font-size: calc(5px + 1.5vmin);
  }
  .brand{
  font-size: 1em;
  font-weight: bold;
}
}
