.App ,body{
  background-color: #282c34;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.App-main{
  margin-top: 5%;
  display: grid;
  grid-template-columns:1fr 1fr;
  margin: 0px 5%;
  gap: 3em;
}
.pointers{
  cursor: pointer;
  font-weight: 600;
  margin:12px;
  
}
.movie-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pointers:hover{
    color: #61dafb;
    text-decoration: none;
}
.movie-flex{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: end;
}
.orange{
  color:orange;
}
.primary{
  color:#61dafb
}

.main-section2{
  display:none;
}
.rate-container{
margin-top:2em;
border-top:1px solid white;
border-width: 3px;
}
.rate-star, .rate-text{
  margin-top: 8px;
}
.rate-star .fa-star{
  font-size:1.5rem;
  cursor:pointer;
}
#title{
  width:40%;
  height:25px;
  outline-color: #61dafb;
  
}
#descriptions{
  width:40%;
  height:50px;
  outline-color: #61dafb;
  
}

.edit-container svg{
  padding:0px 9px;
  cursor:pointer;
}
.fa-pen-to-square{
  color:orange;
}
.fa-trash{
  color:rgb(170, 20, 20);
}
.fa-pen-to-square:hover, .fa-pen-to-square:active{
  color:#61dafb;
}
.fa-trash:hover , .fa-trash:active{
  color:#61dafb
}